<nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <proctor-nav-brand></proctor-nav-brand>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center" style="margin-top: 12%;">You need to select a specific course in order to use Proctor.</h4>
        </div>
    </div>
</div>