<nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#proctor-menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <proctor-nav-brand></proctor-nav-brand>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="proctor-menu">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="teacher.dashboard"><i class="glyphicon glyphicon-dashboard"></i>Dashboard</a></li>
                <li ui-sref-active="active"><a ui-sref="teacher.syllabus"><i class="glyphicon glyphicon-folder-open"></i> Syllabus</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <ui-view></ui-view>
        </div>
    </div>
</div>